<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario_Tarea_Ana Elisa</title>

    <style> 
        div { 
            display: inline-block; 
            max-width: 1200px; 
            margin: 0 auto; 
            }
    </style>
</head>
<body>
    <form action="/modulo1/guardado.html" method="GET">

    	<div class="col-2">
    		<p>
				<label for="email" class="contact-us">Email:</label>
			</p>
			<div>
			   	<input type="text" name="Email" size="50%">
		    </div>
		</div>

		<div class="col-2">
			<p>
				<label for="Password" class="contact-us">Password:</label>
			</p>
			<div>
			   	<input type="text" name="Password" size="45%">
		    </div>
		</div>

        </br>

		<div class="col-1">
			<p>
				<label for="adress" class="contact-us">Address:</label>
			</p>
			<div>
			   	<input type="text" name="Address" placeholder="1234 Main St" size="100%">
		    </div>
		</div>

		</br>

		<div class="col-1">
			<p>
				<label for="adress2" class="contact-us">Address2:</label>
			</p>
			</br>
			<div>
			   	<input type="text" name="Address2" placeholder="Apartament, Studio, or floor" size="100%">
		    </div>
		</div>

		</br>

		<div class="col-3">
			<p>
				<label for="city" class="contact-us">City:</label>
			</p>
			<div>
			   	<input type="text" name="City" size="33%">
		    </div>
		</div>
		
		<div class="col-3">
			<p>
                <label for="state" class="contact-us">State:</label>
                
			</p>
			<div>
				<select id="state">
				  	<option value="Jalisco">Jalisco</option>
				  	<option value="CDMX">CDMX</option>
				  	<option value="Monterrey">Monterrey</option>
				  	<option value="Sinaloa">Sinaloa</option>
				</select>
		    </div>
		</div>
		
		<div class="col-3">
			<p>
				<label for="zip" class="contact-us">Zip:</label>
			</p>
			<div>
			   	<input type="text" name="Zip" size="33%">
		    </div>
		</div>

		</br>

		<div class="col-1">       
			<div>
				<p>
			   		<input type="checkbox" name="check-me-out" size="100%">
			   		<label for="Check me out">Check me out</label>
			   	</p>
		    </div>
		</div>

		</br>   

		<div class="col-1">
			
		</div>
		        
	</form>
</body>
</html>

        <input type="submit" value="Sign in" style="background-color: rgb(9, 0, 128); color: rgb(252, 252, 252); text-align: right;">
    
    </form>
</body>
</html>