<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Práctica "reto"</title>

</head>
<body>
     <h1 style="background-color: border-left: 0;">Practica "reto"</h1>
    <h1 style="background-color: rgb(10, 6, 1); color: rgb(252, 251, 249); border-style: solid; border-width: 5px; border-color: red;">Listado de personas</h1>
    <div style="background-color: rosybrown;">
        <div style="text-align:center;"></div>
    <table style="background-color: rosybrown);">
  
        <body style="background-color: rgb(230, 235, 214);">
          <!--etiqueta general de una tabla-->
          <!--Tr contenido de una fila-->
          <!--Th es la etiqueta de un encabezado-->
          </h1>
             <tr style="color: white;">
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        </tr>
        <!--cuerpo de la tabla-->
        <tbody>
            <tr>
                <!--td es un campo normal en una tabla-->
                <td>Victor</td>
                <td>RT</td>
                <td>14</td>

            </tr>
            <tr>
                <!--td es un campo normal en una tabla-->
                <td>Niccole</td>
                <td>Rea Tapia</td>
                <td>23</td>

            </tr>
        </tbody>
    </div>
    </div>
    </table>
        
</body>
</html>