<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background</title>
    <style>
        body {
            background: limegreen url("/modulo1/multimedia/ben10.jpg") no-repeat center fixed;
            <!--para hacer chico o grande la imagen-->
            background-size: 100px;
        }
    </style>
</head>
<body>

    <h1>Background</h1>

    <p>Algún texto</p>
    <p>Algún texto</p>
    <p>Algún texto</p>
    <p>Algún texto</p>
    <p>Algún texto</p>
    <p>Algún texto</p>
    <p>Algún texto</p>
    <p>Algún texto</p>
    <p>Algún texto</p>
    <p>Algún texto</p>
    <p>Algún texto</p>
    <p>Algún texto</p>
    <p>Algún texto</p>
    <p>Algún texto</p>
    <p>Algún texto</p>
    <p>Algún texto</p>
    <p>Algún texto</p>
    <p>Algún texto</p>
    <p>Algún texto</p>
    <p>Algún texto</p>
    
</body>
</html>