<! DOCTYPE html >
< html  lang = " en " >
< cabeza >
    < meta  charset = " UTF-8 " >
    < meta  name = " viewport " content = " ancho = ancho del dispositivo, escala inicial = 1.0 " >
    < título > Selector pseudo-elemento </ título >
    < estilo >
        p :: primera letra {
            color : # ff0000 ;
            tamaño de fuente : xx-large;
        }

        p :: primera línea {
            color : # 0000ff ;
            variante de fuente : minúsculas;
        }
    </ estilo >
</ cabeza >
< cuerpo >
    < p > se puede combinar dos selectores de pseudo-elementos :: primera letra y :: dirst-line
        para agregar efectos, por ejemplo: La primera línea y la primera letra </ p >
</ cuerpo >
</ html >